name: Build JS library

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  release:
    types: [ "created" ]

jobs:
  build:
    runs-on: ubuntu-24.04

    environment: production

    permissions:
      id-token: write
      contents: read
      attestations: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Use Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24.x

      - name: Install corepack
        run: |
          npm install -g corepack@0.34.6

      - name: Enable corepack
        run: |
          corepack enable

      - name: Install dependencies
        run: |
          yarn

      - name: Run build
        run: |
          yarn build

      - name: Generate artifact attestation
        if: github.event_name == 'release'
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3
        with:
          subject-path: 'dist/tinypki-client-side-cert-req-lib.js'

      - name: Upload release artifact
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        with:
          files: 'dist/tinypki-client-side-cert-req-lib.js'

      - name: Release NPM package
        if: github.event_name == 'release'
        run: |
          yarn npm publish --provenance --access public
